# System Files
.DS_Store
Thumbs.db

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

#AUXILIAR FILES
__pycache__/
*.log
env/

# Aux filepaths
source_files/
dataset/
.ipynb_checkpoints/